@model SchoolManager.Models.Subject
@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <div class="col-4">
            <input type="text" name="searchname" value="" class="form-control" />
        </div>
        
        <div class="list-subject">

        </div>

        <div class="create-or-edit">
            @Html.Action("FormCreateEdit", "Subject")
        </div>

      
    </div>
