* {
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
}

.login-form {
    max-width: 350px;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 2px;
    border-radius: 4px;
}
.login-form  .title{
    font-size: 36px; 
    margin: 0 ;  
    text-transform: uppercase;  

}
.box-input p {
    margin: 0 0 8px 0;
    font-size: 20px;
}
.box-input input{
    padding: 8px  ;  
    width: 100% ;  
    border: 1px solid #a5a5a5; 
}
.btn-login{
    background: #1e6ebc; 
    border: none ; 
    color: #fff;  
    padding: 10px 28px ; 
    font-size: 18px;
}