<div class="add-or-edit">
    <div class="row">
        <div>
            <input type="number" name="ID" value="" readonly hidden />
        </div>
        <div class="col-md-3">
            <label>Name</label>
            <input type="text" name="Name" value="" placeholder="Nguyen Thi..." class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Node</label>
            <input type="text" name="Node" value="" class="form-control" />
            <div class="error"></div>
        </div>

        <div class="col-md-3">
            <label>Status</label>
            <input type="number" name="Status" value="" class="form-control" />
            <div class="error"></div>
        </div>
    </div>
    <br />
    <button class="btn btn-primary btn-createEdit">
        CreateEdit
    </button>
    <button class="btn-update btn btn-primary">update</button>
</div>
