<br />
<hr />
<div class="add-or-edit">
    <div class="row">
        <div class="col-md-2">
            <label>Name</label>
            <input type="text" name="Name" value="" class="form-control" />
            <div class="error text-danger"></div>
        </div>

        <div class="col-md-2">
            <label>Node</label>
            <input type="text" name="Node" value="" class="form-control" />
            <div class="error text-danger"></div>
        </div>

        
        <div class="col-md-2">
            <label>Status</label>
            <input type="text" name="Status" value="" class="form-control" />
            <div class="error text-danger"></div>
        </div>
    </div>
    <br />
    <button class="btn btn-primary btn-create">Create</button>
    <button class="btn btn-primary btn-update">Edit</button>
</div>