
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">

</div>
<div class="main container">
    <h2>Tìm kiếm</h2>
    <br />
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="searchname" value="" placeholder="Nhập Từ khóa" class="form-control" />
        </div>
    </div>
    <br />

    <div class="list-class">

    </div>
    
    <div class="form-add-edit">
        @Html.Action("FormCreateEdit", "Class")
    </div>
</div>

